@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

:root {
  /* ### Primary */

  --Grayish-blue: #8486a9;
  --Soft-red: #fb6087;

  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: #343650;
  --Very-dark-blue: #1e1f29;
  --Very-dark-mostly-black-blue: #191a24;
}

/* #1e1f29, #231d2b */

/* 2c2c44, #343650 */

body {
  font-family: "Red Hat Text", sans-serif;
  background-image: linear-gradient(to bottom, #1e1f29, #2F2439);
  background-repeat: no-repeat;
  background-color: #2F2439;
}

.number_box {
  box-shadow: 0px 9px 0px #00000044;
  background-image: linear-gradient(to bottom, #2c2c44 48%, #343650 48%);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
