@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

:root {
  /* ### Primary */

  --Grayish-blue: #8486a9;
  --Soft-red: #fb6087;

  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: #343650;
  --Very-dark-blue: #1e1f29;
  --Very-dark-mostly-black-blue: #191a24;
}

/* #1e1f29, #231d2b */

/* 2c2c44, #343650 */

body {
  font-family: "Red Hat Text", sans-serif;
  background: url(../images/pattern-hills.svg) bottom center no-repeat,
    url(../images/bg-stars.svg) no-repeat,
    linear-gradient(to bottom, #1e1f29, #231d2b);
  background-size: 329%, 100%;
  background-position-x: -45rem, 0;
  background-position-y: 100%, 0;
  background-color: #2f2439;
}

.number_box {
  box-shadow: 0px 9px 0px #00000044;
  background-image: linear-gradient(to bottom, #2c2c44 48%, #343650 48%);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1024px) {
  body {
    background-size: 100%;
    background-position-x: 0, 0;
    background-position-y: 100%, 0;
  }
}
